.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: var(--secondary);
  border-radius: .5em;
  padding: 1em 0;
  flex-basis: 400px;
  flex-grow: 1;
  transition: .2s all linear;
}

.card:hover {
  transform: translate(0, -0.25em);
  box-shadow: 0 0 2em -0.625em var(--primary);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.info {
  text-align: center;
  padding: 0 1em;
}

.info p {
  margin-top: .5em;
  line-height: 156%;
  font-weight: 300;
}

@media (max-width: 1440px) {
  .card {
    flex-basis: 340px;
  }
}

@media (max-width: 768px) {
  .card:hover {
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    flex-basis: unset;
  }
}