.container__projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 0 16em;
}

@media (max-width: 1440px) {
  .container__projetos {
    padding: 0 6em;
  }
}

@media (max-width: 768px) {
  .container__projetos {
    padding: 0 1em;
  }
}