.container__projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

@media (max-width: 600px) {
  .container__projetos {
    gap: 1em;
  }

  .container__projetos .card img {
    height: 128px;
  }

  .container__projetos .card .info p {
    font-size: 13px;
  }
}