.container__projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 0 16em;
}

@media (max-width: 1440px) {
  .container__projetos {
    padding: 0 6em;
  }
}

@media (max-width: 768px) {
  .container__projetos {
    padding: 0 1em;
  }
}

@media (max-width: 600px) {
  .container__projetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 1em;
  }

  .container__projetos .card img {
    height: 72px;
  }
}