@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

h2 {
  text-align: center;
  font-size: 1.75em;
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  gap: 3em;
  padding: 8em 2em;
}

@media (max-width: 1440px) {
  .divContainer {
    min-height: 600px;
  }
}

@media (max-width: 768px) {
  .divContainer {
    padding: 0 1em 8em 1em;
    height: auto;
  }
}